.footer {
    display: flex;
    justify-content: flex-start;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1280px) {
    .footer {
        width: calc(100vw - 2 * 200px);
    }
}

@media screen and (max-width:1024px) {
    .footer {
        width: calc(100vw - 2 * 3.75vw);
    }
}

@media screen and (max-width:425px) {
    .footer {
        margin: 0px 0px 0px 0px;
    }
}