.profile {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media screen and (max-width:1024px) {
    .profile {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .profile {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:320px) {
    .profile {
        margin-top: 38.25px;
        width: 282px;
        margin-left: 19px;
        flex-direction: column;
    }
}