.popup__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 34px;
    margin-left: 28px;
    margin-right: 36px;
    margin-bottom: 39px;
    box-sizing: border-box;
}

@media screen and (max-width: 595px) {
    .popup__container {
        margin-left: 20px;
        margin-right: 55px;
    }
}