.popup__main {
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: grid;
    position: relative;
}

@media screen and (max-width:595px) {
    .popup__main {
        width: 282px;
    }
}