.section-main__text-button{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}